<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="Login and Home Page Tests">
        <classes>
            <class name="testpom.logintestcase"/>
            <class name="testpom.homepagetest"/>
            <class name="testpom.cartpagetest"/>
            <class name="testpom.checkouttestcase"/>
        </classes>
    </test>
</suite>
